body {
  background: #e0ac9d;
  font-family: "Roboto", sans-serif;
}

a {
  color: #5c6d70;
}

h1 {
  font-size: 37px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: #484a47;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #5c6d70;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.search-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

main {
  padding: 30px;
  padding-top: 40px;
}

.current-temperature {
  display: flex;
  align-items: center;
}

.current-weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  text-align: left;
  padding-top: 30px;
}

.current-details {
  color: #484a47;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.current-details strong {
  color: #e88873;
}

.current-temperature-icon {
  width: 88px;
  height: 88px;
  margin-right: 15px;
  margin-left: 70px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  margin-top: 6px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #484a47;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 20px;
}

.weather-forecast-icon {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #e88873;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 10px;
  text-align: center;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: #484a47;
}
